{
  "layer": "top",
  "position": "bottom",
  "height": 26,
  "modules-left": ["hyprland/workspaces"],
  "modules-center": ["custom/playerctl"],
  "modules-right": [
    "tray",
    "cpu",
    "memory",
    "battery",
    "network",
    "pulseaudio",
    "date",
    "clock"
  ],
  "hyprland/workspaces": {
    "format": "{icon}",
    "format-icons": {
      "1" : " ",
      "2" : " ",
      "3" : " ",
      "4" : "󰉋 ",
      "5" : "󰵅 ",
      "6" : "󰊠 ",
      "7" : " ",
      "8" : " ",
      "9" : " ",
    }
  },
  "cpu": {
    "format": "cpu {usage}%",
    "interval": 2,
    "states": {
      "critical": 90
    }
  },
  "memory": {
    "format": "mem {percentage}%",
    "interval": 2,
    "states": {
      "critical": 80
    }
  },
  "battery": {
    "format": "bat {capacity}%",
    "interval": 5,
    "states": {
      "warning": 20,
      "critical": 10
    }
  },
  "network": {
    "format-wifi": "wifi up",
    "format-ethernet": "eth up",
    "format-disconnected": "eth down"
  },
  "pulseaudio": {
    "format": "{icon} {volume}%",
    "format-muted": "󰖁 muted",
    "format-icons": {
      "default": ["󰕿", "󰖀", "󰕾"],
      "headphone": " ",
      "headset": " "
    },
    "scroll-step": 5,
    "max-volume": 150,
    "on-click": "pactl set-sink-mute @DEFAULT_SINK@ toggle",
    "on-scroll-up": "pactl set-sink-volume @DEFAULT_SINK@ +5%",
    "on-scroll-down": "pactl set-sink-volume @DEFAULT_SINK@ -5%",
    "on-click-right": "pavucontrol"
  },
  "tray": {
    "icon-size": 14,
    "spacing": 10
  },
  "clock": {
      "format": "{:%a %d, %I:%M %p}",
      "tooltip": false
  },
  "custom/playerctl": {
    "format": "{icon} {}",
    "exec": "playerctl --player=di-tui,mpd metadata --format='{{ "{{" }} artist {{ "}} "}} - {{ "{{"}} title {{ "}}" }}'",
    "interval": 2,
    "format-icons": {
      "default": ""
    },
    "on-click": "playerctl --player=di-tui,mpd play-pause",
    "tooltip": false
  }
}
