{
  "dark": {
    "name": "Chezmoi Dark",
    "primary": "{{ .colors.primary.accent }}",
    "primaryText": "{{ .colors.primary.background }}",
    "primaryContainer": "{{ .colors.primary.background2 }}",
    "secondary": "{{ .colors.normal.green }}",
    "surface": "{{ .colors.primary.background }}",
    "surfaceText": "{{ .colors.primary.foreground }}",
    "surfaceVariant": "{{ .colors.primary.background2 }}",
    "surfaceVariantText": "{{ .colors.normal.white }}",
    "surfaceTint": "{{ .colors.primary.accent }}",
    "background": "{{ .colors.primary.background }}",
    "backgroundText": "{{ .colors.primary.foreground }}",
    "outline": "{{ .colors.primary.border }}",
    "surfaceContainer": "{{ .colors.primary.background2 }}",
    "surfaceContainerHigh": "{{ .colors.primary.background3 }}",
    "surfaceContainerHighest": "{{ .colors.primary.border }}",
    "error": "{{ .colors.normal.red }}",
    "warning": "{{ .colors.normal.yellow }}",
    "info": "{{ .colors.normal.blue }}",
    "matugen_type": "scheme-expressive"
  },
  "light": {
    "name": "Chezmoi Light", 
    "primary": "{{ .colors.primary.accent }}",
    "primaryText": "{{ .colors.bright.white }}",
    "primaryContainer": "{{ .colors.bright.white }}",
    "secondary": "{{ .colors.normal.green }}",
    "surface": "{{ .colors.bright.white }}",
    "surfaceText": "{{ .colors.normal.black }}",
    "surfaceVariant": "{{ .colors.normal.white }}",
    "surfaceVariantText": "{{ .colors.bright.black }}",
    "surfaceTint": "{{ .colors.primary.accent }}",
    "background": "{{ .colors.bright.white }}",
    "backgroundText": "{{ .colors.normal.black }}",
    "outline": "{{ .colors.bright.black }}",
    "surfaceContainer": "{{ .colors.normal.white }}",
    "surfaceContainerHigh": "{{ .colors.normal.white }}",
    "surfaceContainerHighest": "{{ .colors.normal.white }}",
    "error": "{{ .colors.normal.red }}",
    "warning": "{{ .colors.normal.yellow }}",
    "info": "{{ .colors.normal.blue }}",
    "matugen_type": "scheme-expressive"
  }
}
