# options
adjust-cell-height = 15%
background-opacity = 0.96
bold-is-bright = true
clipboard-paste-protection = false
clipboard-read = "allow"
cursor-invert-fg-bg = true
cursor-style = "block"
cursor-style-blink = false
freetype-load-flags = hinting,no-force-autohint,no-monochrome
gtk-titlebar = false
gtk-wide-tabs = false
mouse-hide-while-typing = true
shell-integration-features = ssh-env
window-decoration = false
window-inherit-working-directory = false
window-padding-x = 4
window-padding-y = 4
window-theme = "system"
working-directory = "home"

# fonts
font-size = {{ .font.size }}
font-family = "{{ .font.monospace }}"

# shaders
# custom-shader = ./bloom.glsl
custom-shader = ./cursor-blaze.glsl
custom-shader = ./cursor-smear.glsl

# theme
background = "{{ .colors.primary.background | trimPrefix "#" }}"
foreground = "{{ .colors.primary.foreground | trimPrefix "#" }}"
cursor-color = "{{ .colors.primary.foreground | trimPrefix "#" }}"
selection-background = "{{ .colors.primary.selection | trimPrefix "#" }}"
selection-foreground = "{{ .colors.bright.white | trimPrefix "#" }}"
palette = 0={{ .colors.normal.black | trimPrefix "#" }}
palette = 1={{ .colors.normal.red | trimPrefix "#" }}
palette = 2={{ .colors.normal.green | trimPrefix "#" }}
palette = 3={{ .colors.normal.yellow | trimPrefix "#" }}
palette = 4={{ .colors.normal.blue | trimPrefix "#" }}
palette = 5={{ .colors.normal.magenta | trimPrefix "#" }}
palette = 6={{ .colors.normal.cyan | trimPrefix "#" }}
palette = 7={{ .colors.normal.white | trimPrefix "#" }}
palette = 8={{ .colors.bright.black | trimPrefix "#" }}
palette = 9={{ .colors.bright.red | trimPrefix "#" }}
palette = 10={{ .colors.bright.green | trimPrefix "#" }}
palette = 11={{ .colors.bright.yellow | trimPrefix "#" }}
palette = 12={{ .colors.bright.blue | trimPrefix "#" }}
palette = 13={{ .colors.bright.magenta | trimPrefix "#" }}
palette = 14={{ .colors.bright.cyan | trimPrefix "#" }}
palette = 15={{ .colors.bright.white | trimPrefix "#" }}
