headerbar {
  min-height: 12px;
  padding: 2px;
  margin: 0;
}

tabbar tabbox {
  min-height: 10px;
  font-family: monospace;
}

tabbar tabbox tab {
  background: {{ .colors.primary.background }}
  border: 1px solid {{ .colors.primary.background }};
  border-radius: 0;
}

tabbar tabbox tab:selected {
  background: {{ .colors.primary.background }}
  color: {{ .colors.primary.accent }};
}
