[Settings]
gtk-theme-name={{ .settings.gtk }}
gtk-icon-theme-name={{ .settings.icon }}
gtk-font-name={{ .font.family }} {{ .font.size }}
gtk-cursor-theme-name=Hackneyed
gtk-cursor-theme-size=24
gtk-application-prefer-dark-theme=0
