[global]
    mouse_middle_click = context,close_current #close_current is optional
    width = 400
    height = 400
    min_icon_size = 64
    max_icon_size = 128
    offset = "30x50"
    origin = "top-right"
    transparency = 10
    font = "{{ .font.family }}"
    frame_color = "{{ .colors.primary.accent }}"
    bgcolor = "{{ .colors.primary.background }}"
    fgcolor = "{{ .colors.primary.foreground }}"

[urgency_normal]
    background = "{{ .colors.primary.background }}"
    foreground = "{{ .colors.primary.foreground }}"
    timeout = 10

[urgency_critical]
    background = "{{ .colors.normal.red }}"
    foreground = "{{ .colors.normal.black }}"
    timeout = 10
